<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="Suite" parallel="true" >
    <listeners>
        <!--<listener class-name="listener.InvokedMethodListener"></listener>-->
    </listeners>

    <test name="com.SecondTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Google">
            </class>
        </classes>
    </test>
</suite>